<?php
// module/Album/view/album/album/delete.phtml:

$title = 'Usuwanie maila z bazy';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Czy napewno chcesz usunac adres z bazy?
    '<?php echo $this->escapeHtml($mail->mailv); ?>'
</p>
<?php
//Ponowne przekierowanie na funkcje delMail, usuwa wpis
$url = $this->url('album', array(
    'action' => 'delMail',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $album->id; ?>" />
    <input type="submit" name="del" value="Tak" />
    <input type="submit" name="del" value="Nie" />
</div>
</form>