<?php
// module/Album/view/album/album/delete.phtml:

$title = 'Usuwanie wpisu';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Czy napewno chcesz usunac wpis?
    '<?php echo $this->escapeHtml($album->title); ?>'
</p>
<?php
$url = $this->url('album', array(
    'action' => 'delete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $album->id; ?>" />
    <input type="submit" name="del" value="Tak" />
    <input type="submit" name="del" value="Nie" />
</div>
</form>