<?php
// module/Album/view/album/album/index.phtml:

$title = 'Informacje o zalogowanym uzytkowniku';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<br/>
<h3>ID uzytkownika:<?php echo $this->escapeHtml($userinfo['userId']);?></h3>
<h3>Login:<?php echo $this->escapeHtml($userinfo['userLogin']);?></h3>
<h3>Imie:<?php echo $this->escapeHtml($userinfo['userFirstName']);?></h3>
<h3>Nazwisko:<?php echo $this->escapeHtml($userinfo['userLastName']);?></h3>
<h3>Adres mail:<?php echo $this->escapeHtml($userinfo['userEmail']);?></h3>
<br/>
