<?php
// module/Album/view/album/album/index.phtml:

$title = 'Moje produkty';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<a href="<?php echo $this->url('album', array('action'=>'sendAllegro', 'id' => $id));?>">Wyslij oferty na maila</a>

<table class="table">
<tr>
    <th>ID przedmiotu</th>
    <th>Tytul</th>
    <th>Cena</th>
    <th>Do konca</th>
	
</tr>
<?php foreach ($items as $item) : ?>
<tr>
    <td><a href="http://allegro.pl/show_item.php?item=<?php echo $this->escapeHtml($item['itemId']); ?>" target="_blank"><?php echo $this->escapeHtml($item['itemId']);?></a></td>
    <td><?php echo $this->escapeHtml($item['itemTitle']);?></td>
    <td><?php echo $this->escapeHtml($item['priceValue']);?></td>
    <td><?php echo $this->escapeHtml($item['timeToEnd']);?></td>	
</tr>
<?php endforeach; ?>
</table>