<?php
// module/Album/view/album/album/index.phtml:

$title = 'Moje produkty';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<a href="<?php echo $this->url('album', array('action'=>'sendMail'));?>">Wyslij liste na maila</a>

<table class="table">
<tr>
    <th>Tytul</th>
    <th>Wydawca</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($albums as $album) : ?>
<tr>
    <td><?php echo $this->escapeHtml($album->title);?></td>
    <td><?php echo $this->escapeHtml($album->artist);?></td>
    <td>
        <a href="<?php echo $this->url('album',
            array('action'=>'edit', 'id' => $album->id));?>">Edytuj</a>
        <a href="<?php echo $this->url('album',
            array('action'=>'delete', 'id' => $album->id));?>">Usun</a>
        <a href="<?php echo $this->url('album',
            array('action'=>'view', 'id' => $album->id));?>">Szczegoly</a>
		<a href="<?php echo $this->url('album',
            array('action'=>'getAllegro', 'id' => $album->id));?>">Sprawdz na allegro</a>
        <a href="http://allegro.pl/listing/listing.php?order=m&string=<?php echo $album->title; ?>" target="_blank">Idz do Allegro</a>
        <a href="http://www.ceneo.pl/;szukaj-<?php echo $album->title; ?>" target="_blank">Idz do ceneo</a>
		
		</td>
</tr>
<?php endforeach; ?>
</table>