<?php
// module/Album/view/album/album/delete.phtml:

$title = 'Wysylanie maila';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Czy napewno chcesz wyslac liste aukcji allegro do wszystkich?</p>
<?php
//Ponowne przekierowanie na funkcje delMail, usuwa wpis
$url = $this->url('album', array(
    'action' => 'sendAllegro',
	'id' => $id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="submit" name="send" value="Tak" />
    <input type="submit" name="send" value="Nie" />
</div>
</form>