<?php
// module/Album/view/album/album/index.phtml:

$title = 'Szczegoly produktu';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<h3>Tytul:<?php echo $this->escapeHtml($album->title);?></h3>
<br/>
<h3>Wydawca:<?php echo $this->escapeHtml($album->artist);?></h3>
<br/>
<h3>Opis:<br/><?php echo $this->escapeHtml($album->text);?></h3>
<br/>

<table class="table">
<tr>
    <th>Screens</th>
</tr>
<tr>

<?php foreach ($urls as $url) : ?>
    <td>
		<img src="<?php echo $url?>"/>
	</td>
<?php endforeach; ?>
</tr>

</table>

<a href="<?php echo $this->url('album',array('action'=>'edit', 'id' => $album->id));?>">Edytuj</a>
<a href="<?php echo $this->url('album',array('action'=>'delete', 'id' => $album->id));?>">Usun</a>
