<?php
// module/Album/view/album/album/index.phtml:

$title = 'Lista adresow';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
<tr>
    <th>Adres mail</th>
</tr>
<?php foreach ($mails as $mail) : ?>
<tr>
    <td><?php echo $this->escapeHtml($mail->mailv);?></td>
    <td>
        <a href="<?php echo $this->url('album',
            array('action'=>'editMail', 'id' => $mail->id));?>">Edytuj</a>
        <a href="<?php echo $this->url('album',
            array('action'=>'delMail', 'id' => $mail->id));?>">Usun</a>
	</td>
</tr>
<?php endforeach; ?>
</table>